.home {
    width: 136px;
    height: 34px;
    position: relative;
    height: 100%;
  }
  .text {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 80px;
    left: 300px;
    text-align: center;
    height: fit-content;
    border: 1px solid blue;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
  }
  .nature {
    margin-left: 100px;
    width: 85vw;
    height: 50vh;
    
    border-radius: 15px;
  }