.home {
    width: 136px;
    height: 34px;
    position: relative;
    height: 100%;
  }
  .image-icon {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 70px;
   margin-right: 50%;;
  }
  .text {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 60px;
    left: 400px;
    text-align: center;
    height: fit-content;
    border: 1px solid blue;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
  }
  .nature {
    margin-left: 100px;
    width: 85vw;
    height: 223px;
    opacity: 0.8;
    border-radius: 15px;
  }

  
  .rec {
    width: 340px;
    height: 340px;
  }
  .imglist {
    display: flex;
    flex-direction: row;
    gap: 50px 60px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    
  }
  .nav {
    display: flex;
    justify-content: space-around;
  }
  .error {
    font-size: 300px;
    margin: 0 auto;
    color: #FF6060;
  }
  .error-text {
    font-size: 40px;
    margin: 0 auto;
    color: #FF6060;
  }
  .error-link {
    font-size: 20px;
    margin: 0 auto;
    color: #FF6060;
    margin:100px 0;
    display: inline-block;
  }
  /*
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

  }*/
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    /*margin-top: 2rem; */
    width: 70%;
    margin: 20px auto;
    justify-self: center;
    position: absolute;
    top: 50x;
    left:50px;
    margin-top:56px;
  }
  
  .gallery .data-pic {
    width: 24vw;
    height: 40vh;
    border-radius: 10px;
  }
  .gallery .pic-title {
    position: absolute;
    top: 250px;
    left: 30px;
    color: white;
  }
  .background {
    background: #F6F6F6;
    width: 85vw;
    height: 3150px;
    position: relative;
    left: 100px;
    right: 100px;
    margin-top: 43px;
    margin-bottom: 43px;
    border-radius: 25px;
  }
  /*
  .data-pic {
    display: inline;
    width: 400px;
  }*/

  .gallery .post-container {
    position: relative
  }
  
  .footer {
    width: 100vw;
    height: 22vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }

  .footer-icon {
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .footer-text {
    font-size: 24px;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .main {
    margin: 0 auto;
  }
   .mountain {
    clear: both;
    width: 85vw;;
    height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    }
    #accordion {
      margin: 100px auto;
      width: 77vw;
      padding-left: 100px;
    }
    #accordion li{
      list-style: none;
      width: 100%;
      margin-bottom: 10px;
      background: #fff;
      padding: 10px;
      border-radius: 4px;
    }
    .wrapper {
      display: flex;
      height: 100vh;
      
      justify-content: center;
      align-items: flex-start;
    }
    .accordion {
      padding-top: 2%;
      margin: 0 auto;
      padding-left: 0px
    }
    .item {
      margin-bottom: 30px;
    }
    .title {
      width: 70vw;
      background: #FF6060;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      height: 47px;
      padding-left: 2%;
      border-radius: 5px;
    }
    .content {
      color: #FF6060;
      background: #F7F7F7;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 24px;
      line-height: 34.22px;
      height: 91px;
      width: 68vw;
      margin: 0 auto;
    }
    .content.show {
      padding: 2%;
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    }
    .icon {
      margin-right: 20px;
    }
    .title-list {
      display: flex;
      flex-direction: column;
    }
    .heading {
      background: white;
      display: flex;
      justify-content: space-betwwen;
      width: 90%;
      margin-left: 5%;
    }
    .cTitle {
      color: #FF6060;
      font-size: 2.25rem;
      line-height: 3.209rem;
      padding-top: 3%;
    }
    .cLocation {
      color: #FF6060;
      font-size: 1.125rem;
    }
    .hName {
      color: #FF6060;
      font-size: 1.125rem;
      line-height: 1.604rem;
      margin-right: 0.5rem;
    }
    .hPic {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
    }
    .profile {
     display: flex;
     flex-direction: row;
    
    }
    .cTagsList {
      display: inline;
    }
    .cTags {
     display: inline;
      background: #FF6060;
      color: white;
      width: 7.188rem;
      height: 1.563;
      font-size: 0.875rem;
      border-radius: 0.625rem;
      line-height: 1.248rem;
      padding: 1%;
      margin-right: 2%;
    }
   .Dbackground {
   width: 100%;
   display: block;
   
   }
   
   .detail-pic {
    /*
    padding-top: 1900px;
    margin-right: 100rem;
    */
    width: 90vw;
    margin-left: 5%;
    padding-top: 3%;
   }
   
   .name-list {
   margin-left: auto;
   padding-top: 2%;
   }
   .backgroundB {
    margin: 0 auto;
    width: 90%;
    margin-left: 5%;
   }
   .stars {
    margin-top: 1rem;
    margin-left: 2reauto;
   }
   .accordion-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 5%;
    width: 100vw;
    padding-top: 5%;
   }
   .description{
    width: 48vw;
   }
   .eqipments {
    width: 48vw;
    margin-right: 5rem;;
   }
   .dTitle, .eTitle {
    color: white;
    background-color: #FF6060;
    width: 55rem;
    height:3.25rem;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.25rem;
    border-radius: .625rem;
   }
   .dContent, .eContent {
    background-color:  #F7F7F7;
    color: #FF6060;
    width: 55rem;
    height: 15.563rem;
    line-height: 2.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat';
    padding: 5%;
    margin-bottom: 5%;
   }
   .eContent {
    display: flex;
    flex-direction: column;
    vertical-align: center;
   }
   .dItem {
    line-height: 0.5rem;
    font-size: 1.2rem;
    margin-top: 0;
   }
   .carousel {
    width: 60%;
    height: 700px;
    background-color: black;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
   }
   .carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   }
   .carouselInner .left {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
   }
   .carouselInner .center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
   }
   .carouselInner .right {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
   }